.profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 20px 300px;

  &__card {
    display: flex;
    flex-flow: column nowrap;

    &-actions {
      margin-top: auto;
    }

    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    transform: translateZ(0);
    transition: all .35s ease;

    overflow: hidden;

    &:hover {
      box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
      transform: translateZ(3px)
    }
  }

  &-spinner {
    display: flex;
    justify-content: center;

    padding: 24px 0;
    width: 100%;
    text-align: center;
  }
}
